<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
    
    {% block content %}
    <div class="navbar">
        <div class="nav-items">
            <div class="dropdown">
                <button class="dropbtn">Articles</button>
                <div class="dropdown-content">
                    <a target="_blank" href="{% url 'python' %}">Python</a>
                    <a target="_blank" href="{% url 'java' %}">Java</a>
                    <a target="_blank" href="{% url 'c' %}">C</a>
                    <a target="_blank" href="{% url 'cpp' %}">C++</a>
                    <a target="_blank" href="{% url 'js' %}">JavaScript</a>
                    <a href="#">Data Structures & Algorithms (do)</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Videos</button>
                <div class="dropdown-content">
                    <a href="{% url 'pyvideo' %}">Python Tutor</a>
                    <a href="{% url 'javavideo' %}">Java Tutor</a>
                    <a href="#">JavaScript Tutor (do)</a>
                    <a href="#">MySQL Tutor (do)</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Code Editor (do)</button>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Leetcode Problems (do)</button>
            </div>
            <div class="dropdown">
                <button id="geminiButton" class="dropbtn">Gemini Assistant (do)</button>
            </div>
            <div class="dropdown">
                <a class="dropbtn" href="{% url 'logout' %}">Logout</a>

            </div>
        </div>
       
    </div>
    <div id="geminiResponse"></div>
    
    <script src="{% static 'js/script.js' %}"></script>

    {% endblock %}
</body>
</html>