<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>Navigation Bar Example</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    
        <span id="logoname">LEVAC</span>
        <div class="nav-buttons">
            <a id="signupbutton" href="/login">Login</a>
            <a id="loginbutton" href="/signup">Register</a>
        </div>


    {% block content %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>