<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problems</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <style>
       
        h4{
            text-align: center;
            border-bottom: 2px solid rgb(166,74,203);
            width: 27.5%;
            margin: 0 auto;
            color: grey;
            
        }
    </style>
</head>
<body>
    {% block content%}
    <h1 class="python">Ultimate Python Problems</h1>
    <h4>Problem Solving: Everything from Basics to Advanced</h4>
    
    <div class="problems">
        <a class="problem" target="_blank" href="https://www.hackerrank.com/challenges/py-hello-world/problem?isFullScreen=true">1. Print Hello World</a>
        <a class="problem" target="_blank" href="https://www.hackerrank.com/challenges/py-if-else/problem?isFullScreen=true">2. If-else</a>
        <a class="problem" target="_blank" href="https://www.hackerrank.com/challenges/python-arithmetic-operators/problem?isFullScreen=true">3. Arithmetic Operator</a>
        <a class="problem" target="_blank" href="https://www.hackerrank.com/challenges/python-division/problem?isFullScreen=true">4. Division Problem</a>
        <a class="problem" target="_blank" href="https://www.hackerrank.com/challenges/list-comprehensions/problem?isFullScreen=true">5. list-comprehensions</a>
        <a class="problem" target="_blank" href="https://www.hackerrank.com/challenges/find-second-maximum-number-in-a-list/problem?isFullScreen=true">5. find-second-maximum-number</a>
        <a class="problem" target="_blank" href="https://www.hackerrank.com/challenges/nested-list/problem?isFullScreen=true">5. nested list</a>
        <a class="problem" target="_blank" href="https://www.hackerrank.com/challenges/finding-the-percentage/problem?isFullScreen=true">5. finding-the-percentage</a>
    </div>
    {%endblock%}
</body>
</html>