<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problems</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <style>
       
        h4{
            text-align: center;
            border-bottom: 3px solid black;
            width: 30%;
            
        }
    </style>
</head>
<body>
    {% block content%}
    <h1 class="python">Ultimate Python Problems</h1>
    <h4>Problem Solving: Everything from Basics to Advanced</h4>
    
    <div class="problems">
        <a class="problem" href="https://www.hackerrank.com/challenges/py-hello-world/problem?isFullScreen=true">1. Print Hello World</a>
        <a class="problem" href="https://www.hackerrank.com/challenges/py-if-else/problem?isFullScreen=true">2. If-else</a>
        <a class="problem" href="https://www.hackerrank.com/challenges/python-arithmetic-operators/problem?isFullScreen=true">3. Arithmetic Operator</a>
        <a class="problem" href="https://www.hackerrank.com/challenges/python-division/problem?isFullScreen=true">4. Division Problem</a>
    </div>
    {%endblock%}
</body>
</html>