<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problems</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    {% block content%}
    <h1 class="python">Ultimate Python Problems</h1>
    <div class="problems">
        <div class="problem"><a href="{% url 'https://www.hackerrank.com/challenges/py-hello-world/">Simple function
            </a></div>
        <div class="problem">Simple function
        </div>
        <div class="problem">Simple function
        </div>
    </div>
    {%endblock%}
</body>
</html>